# Power Outage Prediction

**Name(s)**: Serena Chen, Andy Guo

**Website Link**: (your website link)

In [6]:
import pandas as pd
import numpy as np

import plotly.express as px
pd.options.plotting.backend = 'plotly'

from lec_utils import * # Feel free to uncomment and use this. It'll make your plotly graphs look like ours in lecture!

## Step 1: Introduction

In [10]:
# TODO

## Step 2: Data Cleaning and Exploratory Data Analysis

In [30]:
outage  = pd.read_excel("outage.xlsx",header = 5)
outage = outage.drop(index=0)

In [31]:
outage

,variables,OBS,YEAR,MONTH,...,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
1,NaN,1.0,2011.0,7.0,...,0.6,91.59,8.41,5.48
2,NaN,2.0,2014.0,5.0,...,0.6,91.59,8.41,5.48
3,NaN,3.0,2010.0,10.0,...,0.6,91.59,8.41,5.48
...,...,...,...,...,...,...,...,...,...
1532,NaN,1532.0,2009.0,8.0,...,0.15,98.31,1.69,1.69
1533,NaN,1533.0,2009.0,8.0,...,0.15,98.31,1.69,1.69
1534,NaN,1534.0,2000.0,NaN,...,0.02,85.76,14.24,2.9

## Step 3: Framing a Prediction Problem

## Step 4: Baseline Model

In [ ]:
# TODO

## Step 5: Final Model

In [ ]:
# TODO