# Power Outage Prediction

**Name(s)**: Serena Chen, Andy Guo

**Website Link**: (your website link)

In [5]:
import pandas as pd
import numpy as np

import plotly.express as px
pd.options.plotting.backend = 'plotly'

from lec_utils import * # Feel free to uncomment and use this. It'll make your plotly graphs look like ours in lecture!

In [6]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [9]:
conda install openpyxl

Channels:
 - defaults
 - conda-forge
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 24.9.2
    latest version: 24.11.0

Please update conda by running

    $ conda update -n base -c conda-forge conda



## Package Plan ##

  environment location: /Users/guoyihan/miniforge3/envs/pds

  added / updated specs:
    - openpyxl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    et_xmlfile-1.1.0           |  py310hca03da5_0          10 KB
    openpyxl-3.1.5             |  py310h80987f9_0         595 KB
    ------------------------------------------------------------
                                           Total:         605 KB

The following NEW packages will be INSTALLED:

  et_xmlfile         pkgs/main/osx-arm64::et_xmlfile-1.1.0-py310hca03da5_0
  openpyxl           pkgs/main/osx-arm64::openpyxl-3.1.5-py310h80987f9_0



Downloading and Extracting Packages:
openpyxl-3.1.5       | 595 KB    |                                       |   0%
openpyxl-3.1.5       | 595 KB    | ##################################### | 100%
et_xmlfile-1.1.0     | 10 KB     | ##################################### | 100%


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

## Step 1: Introduction

In [10]:
# TODO

## Step 2: Data Cleaning and Exploratory Data Analysis

In [11]:
outage  = pd.read_excel("outage.xlsx",header = 5)
outage

,variables,OBS,YEAR,MONTH,...,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
0,Units,NaN,NaN,NaN,...,%,%,%,%
1,NaN,1.0,2011.0,7.0,...,0.6,91.59,8.41,5.48
2,NaN,2.0,2014.0,5.0,...,0.6,91.59,8.41,5.48
...,...,...,...,...,...,...,...,...,...
1532,NaN,1532.0,2009.0,8.0,...,0.15,98.31,1.69,1.69
1533,NaN,1533.0,2009.0,8.0,...,0.15,98.31,1.69,1.69
1534,NaN,1534.0,2000.0,NaN,...,0.02,85.76,14.24,2.9

In [13]:
outage['variables']

0       Units
1         NaN
2         NaN
        ...
1532      NaN
1533      NaN
1534      NaN
Name: variables, Length: 1535, dtype: object

## Step 3: Framing a Prediction Problem

## Step 4: Baseline Model

In [ ]:
# TODO

## Step 5: Final Model

In [ ]:
# TODO