# Power Outage Prediction

**Name(s)**: Serena Chen, Andy Guo

**Website Link**: (your website link)

In [4]:
import pandas as pd
import numpy as np

import plotly.express as px
pd.options.plotting.backend = 'plotly'

from lec_utils import * # Feel free to uncomment and use this. It'll make your plotly graphs look like ours in lecture!

In [6]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

## Step 1: Introduction

In [ ]:
# TODO

## Step 2: Data Cleaning and Exploratory Data Analysis

In [12]:
outage  = pd.read_excel("outage.xlsx",header = 5)
outage

,variables,OBS,YEAR,MONTH,...,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
0,Units,NaN,NaN,NaN,...,%,%,%,%
1,NaN,1.0,2011.0,7.0,...,0.6,91.59,8.41,5.48
2,NaN,2.0,2014.0,5.0,...,0.6,91.59,8.41,5.48
...,...,...,...,...,...,...,...,...,...
1532,NaN,1532.0,2009.0,8.0,...,0.15,98.31,1.69,1.69
1533,NaN,1533.0,2009.0,8.0,...,0.15,98.31,1.69,1.69
1534,NaN,1534.0,2000.0,NaN,...,0.02,85.76,14.24,2.9

,Time period: January 2000 - July 2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,Regions affected: Outages reported in this dat...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1536,NaN,1532,2009,8,...,0.15,98.31,1.69,1.69
1537,NaN,1533,2009,8,...,0.15,98.31,1.69,1.69
1538,NaN,1534,2000,NaN,...,0.02,85.76,14.24,2.9

## Step 3: Framing a Prediction Problem

In [ ]:
# TODO

## Step 4: Baseline Model

In [ ]:
# TODO

## Step 5: Final Model

In [ ]:
# TODO